<footer class="footer">
  <small>
    It's Twitta, Bitches!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://twitter.com">F'real</a></li>
    </ul>
  </nav>
</footer>